.LogoSearch {
  display: flex;
  gap: 0.75rem;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  width: 14rem;
}

.Search > input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.Search > input:focus {
  border-radius: 5px;
  outline: 2px solid orange;
}

.srch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.32deg, #f99827, #f95f35 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
  margin-left: 0.5rem;
}

.srch-icon:hover {
  cursor: pointer;
}
